    <!-- Class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" -->
<section class="text-center" style="background-color: #e6e6e6">
  <div class="container">
    <div class="row">
      <div class="col-md-12 logo">
        <img 
          src="../../assets/imgs/2.png"
          alt="logo mercado pago"
        />
      </div>
    </div>
  </div>
</section>
<main>
  <div class="col-md-12">
    <h1 class="titulo">Principais taxas para novos clientes:</h1>
    <p class="paragrafo">
      No site da provedora eles oferecem uma grande variedade de maquininhas de
      acordo com a necessidade do comprador e cobram um valor que vai de
      <b>R$118,90</b> no momento da pesquisa está com promoção está saindo por
      apenas <b>R$ 29,90</b> e vai até <b>R$840,00</b> em promoção está
      <b>R$358,80</b>(os aparelhos mudam e dependendo da escolha existem alguns
      benefícios)
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="taxaT">TAXAS DE RECEBIMENTO</h1>
      </div>
      <!-- •	Taxa de recebimento com a maquininha Point -->
      <div class="col-md-6">
        <!-- Primeira Tabela -->
        <h3>Maquininha Point</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Cartão De Débito</th>
              <td>1,99%</td>
              <td>Na Hora</td>
            </tr>
            <tr>
              <th rowspan="3">Cartão de Crédito</th>
              <td>4,74%</td>
              <td>Na hora</td>
            </tr>
            <tr>
              <td>3,79%</td>
              <td>14 Dias</td>
            </tr>
            <tr>
              <td>3,03%</td>
              <td>30 Dias</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Taxa de recebimento com código QR -->
      <div class="col-md-6">
        <!-- Segunda Tabela -->
        <h3>Código QR</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mercado Crédito</th>
              <td>1,99%</td>
              <td>Na Hora</td>
            </tr>
            <tr>
              <th rowspan="2">Cartão de Crédito</th>
              <td>1,99%</td>
              <td>Na hora</td>
            </tr>
            <tr>
              <td>1,69%</td>
              <td>30 Dias</td>
            </tr>
            <tr>
              <th scope="row">Pix e Open Finance</th>
              <td>Grátis</td>
              <td>Na hora</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <!-- Taxa de recebimento com Link de pagamento e Checkout -->
      <div class="col-md-6">
        <!-- Terceira Tabela -->
        <h3>Link de pagamento e Checkout</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th rowspan="2">
                Cartão de crédito,Saldo no Mercado
                Pago,Televendas,Mercado,Crédito Cartão Mercado Pago
              </th>
              <td>4,99%</td>
              <td>Na Hora</td>
            </tr>
            <tr>
              <td>4,49%</td>
              <td>14 Dias</td>
            </tr>
            <tr>
              <th scope="row">Cartão de Débito virtual Caixa</th>
              <td>3,99%</td>
              <td>Na hora</td>
            </tr>
            <tr>
              <th scope="row">Boleto</th>
              <td>R$3,49</td>
              <td>Até 3 Dias</td>
            </tr>
            <tr>
              <th scope="row">Pix e Open Finance</th>
              <td>0,99%</td>
              <td>Na hora</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Taxa de recebimento no Mercado Livre -->
      <div class="col-md-6">
        <!-- Quarta Tabela -->
        <h3>Mercado Livre</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th rowspan="4">
                Qualquer meio de pagamento (cartão de crédito, débito, boleto,
                transferência, depósito, Mercado Crédito, saldo no Mercado Pago)
              </th>
              <td>
                Ao vender no Mercado Livre, você recebe automaticamente pelo
                Mercado Pago, sem taxas. Você paga apenas o custo por anunciar
                seu produto.
              </td>
              <td>
                Os prazos variam de acordo com o tipo de produto, anúncio e das
                opções de envio que você oferecer. Confira os prazos ao vender
                no Mercado Livre.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <h2>
          VOUCHER – Somente SODEXO e ALELO (verificar se maquininha contratada
          aceita a bandeira do voucher).
        </h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="taxaT">Custo de liberação</h1>
            <h3 style="background-color: white">
              Primeiro, temos o custo de liberação, que varia de acordo com o
              prazo que você configurou para ter seu dinheiro disponível:
            </h3>
          </div>
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Se seu dinheiro for liberado em:</th>
                  <th scope="col">Você paga uma taxa de liberação para crédito parcelado de:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Na Hora</td>
                  <td>5,31%</td>
                </tr>
                <tr>
                  <td>14 Dias</td>
                  <td>4,36%</td>
                </tr>
                <tr>
                  <td>30 Dias</td>
                  <td>3,60%</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12">
              <h2>Além disso, os custos são diferentes das <a href="https://www.mercadopago.com.br/ajuda/quanto-custa-receber-pagamentos-com-o-point_2609" target="_blank">taxas de liberação para débito e crédito à vista.</a></h2>
            </div>
          </div>
          <div class="col-md-12">
            <h1 class="taxaT">Custo Parcelamento</h1>
            <p class="text">Há dois tipos de custos de parcelamento, que variam de acordo com quem as pagará:</p>
            <h2>•	Parcelamento sem juros / vendedor: você assume o custo das parcelas.</h2>
            <p class="text">Você pode oferecer parcelamento sem juros e arcar com os custos do parcelamento. Nesse caso, além da taxa de liberação, você pagará os custos a seguir:</p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Numero de Parcelas</th>
                    <th scope="col">Taxa de Parcelamento sem juros</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2x</td>
                    <td>4,59%</td>
                  </tr>
                  <tr>
                    <td>3x</td>
                    <td>5,97%</td>
                  </tr>
                  <tr>
                    <td>4x</td>
                    <td>7,33%</td>
                  </tr>
                  <tr>
                    <td>5x</td>
                    <td>8,66%</td>
                  </tr>
                  <tr>
                    <td>6x</td>
                    <td>9,96%</td>
                  </tr>
                  <tr>
                    <td>7x</td>
                    <td>11,24%</td>
                  </tr>
                  <tr>
                    <td>8x</td>
                    <td>12,50%</td>
                  </tr>
                  <tr>
                    <td>9x</td>
                    <td>13,73%</td>
                  </tr>
                  <tr>
                    <td>10x</td>
                    <td>14,93%</td>
                  </tr>
                  <tr>
                    <td>11x</td>
                    <td>16,12%</td>
                  </tr>
                  <tr>
                    <td>12x</td>
                    <td>17,28%</td>
                  </tr>
                </tbody>
              </table>
              <h2>•	Parcelamento com juros / comprador: seu cliente paga o custo das parcelas.</h2>
              <p class="text">Agora, caso você opte por deixar que seu cliente pague os custos de parcelamento, você só paga a taxa de liberação e ele pagará:</p>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Numero de Parcelas</th>
                    <th scope="col">Taxa de Parcelamento com juros</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2x</td>
                    <td>7,64%</td>
                  </tr>
                  <tr>
                    <td>3x</td>
                    <td>9,23%</td>
                  </tr>
                  <tr>
                    <td>4x</td>
                    <td>10,86%</td>
                  </tr>
                  <tr>
                    <td>5x</td>
                    <td>12,31%</td>
                  </tr>
                  <tr>
                    <td>6x</td>
                    <td>13,65%</td>
                  </tr>
                  <tr>
                    <td>7x</td>
                    <td>14,72%</td>
                  </tr>
                  <tr>
                    <td>8x</td>
                    <td>16,23%</td>
                  </tr>
                  <tr>
                    <td>9x</td>
                    <td>17,69%</td>
                  </tr>
                  <tr>
                    <td>10x</td>
                    <td>18,65%</td>
                  </tr>
                  <tr>
                    <td>11x</td>
                    <td>20,12%</td>
                  </tr>
                  <tr>
                    <td>12x</td>
                    <td>21,61%</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-md-12"
    style="align-content: center; padding: 20px; text-align: center"
  >
    <a href="#" class="btn btn-secondary">Consulte as Taxas</a>
  </div>
</main>
