<!-- Class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" -->
<section class="text-center"
  style="background-color: #E6E6E6;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 logo" >
        <img
          src="../../assets/imgs/2.png"
          alt="logo mercado pago"
          height="400px"
          width="mx-auto"
        />
      </div>
    </div>
  </div>
</section>
<main>
  <div class="col-md-12">
    <h1 class="titulo"><b>Principais taxas para novos clientes:</b></h1>
    <p class="paragrafo">
      No site da provedora eles oferecem uma grande variedade de maquininhas de
      acordo com a necessidade do comprador e cobram um valor que vai de
      <b>R$118,90</b> no momento da pesquisa está com promoção está saindo por apenas
      <b>R$ 29,90</b> e vai até <b>R$840,00</b> em promoção está <b>R$358,80</b>(os aparelhos mudam e
      dependendo da escolha existem alguns benefícios)
    </p>
  </div>
  <div class="container">
     <div class="row">
      <div class="col-md-12">
        <h1 class="taxaT">TAXAS DE RECEBIMENTO</h1>
      </div>
      <!-- •	Taxa de recebimento com a maquininha Point -->
      <div class="col-md-6"><!-- Primeira Tabela -->
        <h3>Maquininha Point</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Cartão De Débito</th>
              <td>1,99%</td>
              <td>Na Hora</td>
            </tr>
            <tr>
              <th rowspan="3">Cartão de Crédito</th>
              <td>4,74%</td>
              <td>Na hora</td>
              </tr>
              <tr>
                <td>3,79%</td>
                <td>14 Dias</td>
                </tr>
              <tr>
                <td>3,03%</td>
                <td>30 Dias</td>
                </tr>
          </tbody>
        </table>
      </div>
      <!-- Taxa de recebimento com código QR -->
      <div class="col-md-6"><!-- Segunda Tabela -->
        <h3>Código QR</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mercado Crédito</th>
              <td>1,99%</td>
              <td>Na Hora</td>
            </tr>
            <tr>
              <th rowspan="2">Cartão de Crédito</th>
              <td>1,99%</td>
              <td>Na hora</td>
              </tr>
              <tr>
                <td>1,69%</td>
                <td>30 Dias</td>
                </tr>
                <tr>
                  <th scope="row">Pix e Open Finance</th>
                  <td>Grátis</td>
                  <td>Na hora</td>
                  </tr>
          </tbody>
        </table>
      </div>
     </div>
     <div class="row">
      <!-- Taxa de recebimento com Link de pagamento e Checkout -->
      <div class="col-md-6"><!-- Terceira Tabela -->
        <h3>Link de pagamento e Checkout</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th rowspan="2">Cartão de crédito,Saldo no Mercado Pago,Televendas,Mercado,Crédito Cartão Mercado Pago</th>
              <td>4,99%</td>
              <td>Na Hora</td>
            </tr>
            <tr>
              <td>4,49%</td>
              <td>14 Dias</td>
              </tr>
              <tr>
                <th scope="row">Cartão de Débito virtual Caixa</th>
                <td>3,99%</td>
                <td>Na hora</td>
                </tr>
          </tbody>
        </table>
      </div>
      <!--Taxa de recebimento no Mercado Livre -->
      <div class="col-md-6"><!-- Quarta Tabela -->
        <h3>Mercado Livre</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Se o pagamento for feito via</th>
              <th scope="col">Você Paga</th>
              <th scope="col">Dinheiro Disponivel em</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mercado Crédito</th>
              <td>1,99%</td>
              <td>Na Hora</td>
            </tr>
            <tr>
              <th rowspan="2">Cartão de Crédito</th>
              <td>1,99%</td>
              <td>Na hora</td>
              </tr>
              <tr>
                <td>1,69%</td>
                <td>30 Dias</td>
                </tr>
                <tr>
                  <th scope="row">Pix e Open Finance</th>
                  <td>Grátis</td>
                  <td>Na hora</td>
                  </tr>
          </tbody>
        </table>
      </div>
     </div>
  </div>
  <div class="col-md-12" style="align-content: center; padding: 20px; text-align: center;"><a href="#" class="btn btn-secondary">Consulte as Taxas</a></div>
</main>

