<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Assignee</mat-label>
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="teste">
                  <mat-autocomplete #teste="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of menus | async" [value]="option">
                      {{option.modelo}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-4">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Assignee</mat-label>
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-4">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Assignee</mat-label>
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>

