<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"></a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0  nav-pills">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" [routerLink]="['/home']">
            <img src="../../../assets/imgs/logo100x50semfundo.png" alt="">
        </button>
    </ul>

    <div class="col-md-3 text-end"></div>
</header>