.back{
    background-color: #04345C;
}
.back-button{
    background-color: #FFFC00;
    color:#04345C;
    border: none;
}
.back-button-modal{
    background-color: #04345C;
    border: none;
}
#imagenzona{
    width: 100vw;
    height: 50vh;
    background-color: #FFFC00;
    /* background: url('../../assets/imgs/error404.png'); */
}



.cardapio {
  margin: 1px;
  float: left;
  display: flex;
}

  #corpo {
    height: 30rem; /* 1rem = 16px */
    border-radius: 10px 10px;
    background: rgb(18,61,98);
    background: linear-gradient(90deg, rgba(18,61,98,1) 0%, rgba(158,158,158,1) 50%, rgba(4,52,92,1) 100%);
    margin: 1rem;
    display: flex;
  }

legend{
    text-align: center;
}

.tall {
    width: 50%;
    height: 7vw;
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  .square,
  .tall,
  .wide {
    margin: auto;
    padding: 1em;
    background: rgba(#214050,.5);
    box-shadow: 0 0 0 1px rgba(#214050,.6) inset;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
  }

.box {
    border: solid 1px black;
    border-radius: 4px 4px 4px 4px;
    margin: auto;
    padding: 1em;
    background: rgba(#214050,.5);
    box-shadow: 0 0 0 1px rgba(#214050,.6) inset;
}

.joaozinho {
  background-image: url(https://media.discordapp.net/attachments/729192010023436349/777137074222006302/welcome.png);
}
