.select-wrap {
  border: 1px solid #25b8d9;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0 5px 5px;
  background-color:#ebebeb;
} 

.select-wrap label {
  font-size:10px;
  text-transform: uppercase;
  color: #0e4c73;
  padding: 2px 8px 0;
}

.valor {
  background-color: #777;
  border:0px;
  color: #777;
}

select {
  background-color: #ebebeb;
  border:0px;
}

.container {
  background-color: #E6E6E6;
}

.square {
  width: 50%;
  height: 50vw;
}

.wide {
  width: 100%;
  height: 50vw;
}

.tall {
  width: 50%;
  height: 100vw;
}


.box {
  border: solid 1px black;
  border-radius: 4px 4px 4px 4px;
  margin: auto;
  padding: 1em;
  background: rgba(#214050,.5);
  box-shadow: 0 0 0 1px rgba(#214050,.6) inset;
}

*, *:before, *:after {
  box-sizing: border-box;
}
.square,
.tall,
.wide {
  margin: auto;
  padding: 1em;
  background: rgba(#214050,.5);
  box-shadow: 0 0 0 1px rgba(#214050,.6) inset;
  text-align: center;
  font-family: "Century Gothic", sans-serif;
}
