.filtro {
  box-sizing: border-box;
  border-spacing: 0px;
  border-radius: 4px 4px 4px 4px;
  border: solid 1px;
}

.select-wrap {
  border: 1px solid #777;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0 5px 5px;
  background-color:#ebebeb;
} 

.select-wrap label {
  font-size:10px;
  text-transform: uppercase;
  color: #777;
  padding: 2px 8px 0;
}

.valor {
  background-color: #777;
  border:0px;
  color: #777;
}

select {
  background-color: #ebebeb;
  border:0px;
}

.container {
  width: 50rem;
}