<div class="wide">
    <div class="box">
        <div class="row text-center p-2 p-md-2">
            <legend>Veja quanto você recebe nas vendas no crédito, débito e parcelado</legend>
        </div>

        <div *ngFor="let option of options">
            <div class="form-check form-check-inline">
                <input type="radio" name="radio" id="radio-{{option.id}}" [(ngModel)]="value" [value]="option.value"
                    [disabled]="option.estado" />
            </div>
            <label for="radio-{{option.id}}">{{option.id}}</label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="select-wrap">
                    <label for="teste">Selecione uma Marca:</label>
                    <select name="teste" class="form-select" [(ngModel)]="marcaView"
                        (ngModelChange)="updateInputs($event)" required>
                        <option *ngFor="let i of listaTaxa" [value]="i.id">
                            {{i.marca}}
                        </option>
                    </select>
                </div>

                <div class="select-wrap">
                    <label for="teste">Digite o Valor:</label>
                    <input type="number" [(ngModel)]="valor" (input)="getValor($event)"
                        class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="select-wrap">
                    <label for="teste">Forma de Pagamento:</label>
                    <select name="teste" class="form-select" [(ngModel)]="optionView"
                        (ngModelChange)="getOption($event)" required>
                        <option *ngFor="let i of listaOpc" [value]="i.id">
                            {{i.viewValue}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Você Recebe: </th>
                            <th scope="col">Valor Taxado:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{mostrar ? mostrar : 0}}</th>
                            <th>{{desconto ? desconto : 0}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" (click)="calcularTaxa()" class="botao" id="calc">Calcular</button>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="box">
        <div class="row text-center p-2 p-md-2">
            <legend>Confira as taxas de cada empresa</legend>
        </div>

        <div>
            <div class="form-check text-center form-check-inline">
                <input type="radio" name="radio" id="radio-3" [(ngModel)]="viewDias" [value]="3" />
            </div>
            <label for="radio-3">Na hora</label>
            <div class="form-check text-center form-check-inline">
                <input type="radio" name="radio" id="radio-4" [(ngModel)]="viewDias" [value]="4" />
            </div>
            <label for="radio-4">Em 14 Dias</label>
            <div class="form-check text-center form-check-inline">
                <input type="radio" name="radio" id="radio-5" [(ngModel)]="viewDias" [value]="5" />
            </div>
            <label for="radio-5">Em 30 Dias</label>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="select-wrap">
                    <label for="teste">Selecione uma Marca:</label>
                    <select name="teste" class="form-select" [(ngModel)]="viewMarca" (ngModelChange)="getMarca($event)"
                        required>
                        <option *ngFor="let i of listaTaxa" [value]="i.id">
                            {{i.marca}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="select-wrap">
                    <label for="teste">Forma de Pagamento:</label>
                    <select name="teste" class="form-select" [(ngModel)]="viewPagamento"
                        (ngModelChange)="getFormaPagamento($event)" required>
                        <option *ngFor="let i of meiosPagamento" [value]="i.id">
                            {{i.viewValue}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">À vista: </th>
                            <th scope="col">Parcelado:</th>
                            <th scope="col">Oberservação:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{aVista ? aVista : 0}}</th>
                            <th>{{Parcelado ? Parcelado : 0}}</th>
                            <th>{{Obs ? Obs : ""}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" (click)="verificarTaxas()" class="botao">Calcular</button>
        </div>
    </div>
</div>